$headerBg: url(../img/m-h-day.jpg);
$secondaryFont: 'Source Sans Pro', sans-serif;
$mainBg: white;
$secondaryBg: #21232e;
$btnColor: #699900;
$underscoreColor: #14a0c7;
$gradientStart: #649415;
$gradientEnd: #2f5dd2;
$mainTextColor: #2c2f3c;
$secondaryTextColor: white;

