$headerBg: url(../img/m-h-night.jpg);
$secondaryFont:'Fresca', sans-serif;
$mainBg: #21232e;
$secondaryBg: #3b3f50;
$btnColor: #e3ac00;
$underscoreColor: #ff4e33;
$gradientStart: #da9e09;
$gradientEnd: #942f51;
$mainTextColor: white;
$secondaryTextColor: white;

